.App {
  text-align: center;
}

.home-background{
  background-image: url("../src/assets/trashcan.jpg");
  background-size:contain;
    background-position:top;
    background: cover;
}

.quote-background{
  background-image: url("../src/assets/desk.jpg");
  background-size:contain;
    background-position:top;
    background: cover;
}

.joke-background{
  background-image: url("../src/assets/laughter.jpg");
  background-size:contain;
    background-position:top;
    background: cover;
}
.text{
  color: azure;
}